javascript:
  function profile(user,map) {
      $.ajax({
        dataType: "script",
        url: '/?user=' + user + '&point=' + map,
        success: function(html) {
          $("fieldset#form_profile").show();
        }
      });
  }

div#scroll_comment
  fieldset#form_profile
  br
  - @commentaries.order("created_at desc").each do |commentary|
    div.ava-area_comment
      = avatar?(commentary.user,60,60)
    div.author_comment
      span.hov style="font-weight:bold"
        - if current_user.nil?
          = commentary.user.name
        - else
          span onClick="javascript:profile('#{commentary.user.id}','#{commentary.map_id}');"
            = commentary.user.name
      br
      span style="font-size:9px"
        = commentary.created_at
      br
      div style="margin: 0px 0px 0px 7px;"
        = commentary.description
    div style="font-size:8px;"
      - if can? :destroy, commentary
        br
        = link_to 'Destroy', commentary, :confirm => 'Are you sure?', :method => :delete, :remote => :true
    br
    hr