= form_for(@map, :html => {:target => 'upload_target'}) do |f|
  div
    = f.text_field :title, placeholder: "Название.."

  = f.hidden_field :coord
  div
    = f.text_area :more, :rows => "4", placeholder: "Описание.."
  div
    = f.text_area :reach, :rows => "4", placeholder: "Как добраться.."
  div
    = f.select :category_id, ['Выбрать категорию'] + Category.all.collect{|s| [s.title, s.id]}
  br
  div
    | Фото:
    | &nbsp;
    = f.file_field :image, placeholder: "Фото"
  br
  div#point
    = f.submit 'Добавить отметку', class: "add_point_submit"


iframe id="upload_target" name="upload_target" style="display: none"
