div.layer4
  div.chkDiv style="position: absolute; top: 5%; left:2%"
    input name="myDostopCollection" value="1" tabindex="1" type="checkbox" id="myDostopCollection"
      | &nbsp;
      label.lab for="myDostopCollection"
        | Достопримечательности

  div class="chkDiv" style="position: absolute; top: 35%; left:2%"
    input name="Filter" value="2" tabindex="2" type="checkbox" id="myIntCollection"
      | &nbsp;
      label class="lab" for="myIntCollection"
        | Интересные места

  div class="chkDiv" style="position: absolute; top: 65%; left:2%"
    input name="Filter" value="3" tabindex="3" type="checkbox" id="chk3"
      | &nbsp;
      label class="lab" for="chk3"
        | Ожидаемое

div.layer5
  div class="chkDiv" style="position: absolute; top: 5%; left:2%"
    input name="Filter" value="4" tabindex="4" type="checkbox" id="myArtCollection"
      | &nbsp;
      label class="lab" for="myArtCollection"
        | Арт

  div class="chkDiv" style="position: absolute; top: 35%; left:2%"
    input name="Filter" value="5" tabindex="5" type="checkbox" id="myMeetCollection"
      | &nbsp;
      label class="lab" for="myMeetCollection"
        | Встречи

  div class="chkDiv" style="position: absolute; top: 65%; left:2%"
    input name="Filter" value="6" tabindex="6" type="checkbox" id="myBigCollection"
      | &nbsp;
      label class="lab" for="myBigCollection"
        | Хочу больше!