div#signin_menu_align
  = form_for(resource, as: resource_name, url: user_session_path) do |f|
    = f.email_field :email, placeholder: "Ваш email.."

    = f.password_field :password, placeholder: "Ваш пароль.."

    br
    br
    = f.submit 'Войти', id: "signin_submit"
    br
    br
    div
      img#oID_B style="width:5%;" src="/assets/oID_B.png"
      | &nbsp;
      img#oID_T style="width:5%;" src="/assets/oID_T.png"
      | &nbsp;
      img#oID_F style="width:5%;" src="/assets/oID_F.png"
      | &nbsp;
      img#oID_M style="width:5%;" src="/assets/oID_M.png"

    br
    span id="reg_button" style="cursor:pointer;" class="reg-btn"
      | Или зарегистрироваться!
