div#signin_menu_align
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

    = f.email_field :email, :autofocus => true, placeholder: "Ваш email.."

    = f.text_field :name, placeholder: "Ваше имя.."

    = f.password_field :password, placeholder: "Пароль.."

    = f.password_field :password_confirmation, placeholder: "Повторите пароль.."
    br
    = f.submit "Зарегистрироваться", :id => "reg_submit"
