div.ava-area
  = avatar?(current_user,100,100)

fieldset#add_comment
  = render ("commentaries/form")

fieldset#prof_menu
  = render ("users/form")

fieldset#add_point
  = render ("form")

div.menu
  div style="position: absolute; top: 0%; left:2%"
    div.name-btn
      = current_user.name
  div style="position: absolute; top: 25%; left:2%"
    div.user-btn
      div.metka-btn
        | Добавить точку

  div style="position: absolute; top: 45%; left:2%"
    div.user-btn
      = link_to 'События', categories_path, id: "sign_out_text"
      | &nbsp;
      = @count_map + @count_commentary

  div style="position: absolute; top: 65%; left:2%"
    div.user-btn
      = link_to 'Админка', categories_path, id: "sign_out_text"

  div#profile style="position: absolute; top: 85%; left:2%"
    div.user-btn
      | Мой профиль

= render ('maps/menu_collection')

div#sign_out
  = link_to 'Выйти', destroy_user_session_path, :method => :delete, id: "sign_out_text"