div.a-btn
  div.a-btn-text
    span.sign
      | &nbsp;Войдите
  div.a-btn-slide-text
    img#oID_B src="/assets/oID_B.png"
    | &nbsp;
    img#oID_T src="/assets/oID_T.png"
    | &nbsp;
    img#oID_F src="/assets/oID_F.png"
    | &nbsp;
    img#oID_M src="/assets/oID_M.png"
  div.a-btn-icon-right
    span.sign

fieldset#signin_menu
  = render ('sign_in')

fieldset#reg_menu
  = render ('sign_up')

= render ('maps/menu_collection')