div.top
  - if user_signed_in?
    - if (current_user.role? :administrator)
      = render ('top_admin')
    - else
      = render ('top_user')
  - else
    = render ('top_guest')

div.mid
  div.rad-btn
    div.rad-btn-text
      span Задать область
    div.rad-btn-slide-text
  div.area-btn
    div.area-btn-text
      span.checkall
        | Отметить /
      span.uncheckall
        | Снять Все
    div.area-btn-slide-text
  div.search-btn
    form.test
      input class="input-xlarge search-query" id="search" name="Search" value="" placeholder="Задать адрес.." title="search" tabindex="9" type="text"
      div class="search-btn-icon-right"

fieldset#form_comment

fieldset#form_howtoreach

fieldset#form_more

div.cont
  div class="layer1"
    div.hello
      | Все, что нужно увидеть и посетить в Самаре!
      hr style="margin: 5% 5% 0% 5%;"

    /каждой фотографии задаем class на принадлежность к коллекции и id для связи фото - метка. фотографии и инфу по ним будем храним в бд
    /id - номер записи в таблице, т.к. добавление в бд метки и фотографии происходит одновременно(и их количество =), то id метки = id фото
    div.gal
      /1	Достопримечательности
      /2	Интересные места
      /3	Ожидаемое
      /4	Арт
      /5	Встречи
      /6	Хочу Больше!

      - @maps.find_each do |map|
        a
          img style='width:45%;' src='#{map.image_url}' class='#{img_class(map.category_id)}' id='#{map.id}' title='#{map.title}' alt='#{map.title}'

  div id="map" class="layer2"
    div class="layer3"
      | ... 2013 ...