$("#form_comment").html("<%= j render(:partial => 'maps/comment') %>");
$("#form_howtoreach").html("<%= j render(:partial => 'maps/reach') %>");
$("#form_more").html("<%= j render(:partial => 'maps/more') %>");
$("#form_profile").html("<%= j render(:partial => 'users/show') %>");