br
b Название: &nbsp;
= @map.title
br
b Подробнее: &nbsp;
= @map.more
br
b Как доехать: &nbsp;
= @map.reach
br
b Координаты: &nbsp;
= @map.coord
br
b Фото: &nbsp;
= image_tag(@map.image)
/- @map.each do |m|
  = m.title
  = m.more
  = m.hotoreach
  /= m.img


br
  br
= link_to 'Edit', edit_map_path(@map)
| &nbsp; | &nbsp;
= link_to 'Back', :back
