= form_for(@user) do |f|
  span#img_ava
    = image_tag (current_user.avatar) , :width => "100px", :height => "100px"
  br
  div#file_ava
    = f.file_field :avatar

  = f.text_field :name
  br
  span
    = f.text_area :about, :rows => "3"
  dl
    dt
      | Мой возраст: &nbsp;
    dd
      = f.text_field :age


  - if (current_user.role? :administrator)
    div
      = f.select :role_ids, Role.all.collect{|s| [s.name, s.id]}
    div
      = f.email_field :email


    /= f.select :sex, options_for_select([['Ваш пол', 0], ['Мужчина', 1], ['Девушка', 2]])
  div.prof_center
    = f.radio_button :sex, '0'
    = f.label :sex_0, "Я девушка"
    | &nbsp;
    = f.radio_button :sex, '1'
    = f.label :sex_1, "Я мужчина"
    br
    br
    = f.check_box :mailing
    | &nbsp;
    = f.label :mailing, "Хочу новости!"
    br
    br
    div
      = f.submit "Сохранить", :id => "prof_submit"

/= link_to "Back", :back
