javascript:
  function close_form() {
    $("fieldset#form_profile").hide();
  }
- if @user.present?
  div.ava-form_profile
    - if @user.avatar?
      = image_tag (@user.avatar) , :width => "100px", :height => "100px"
    - else
      = image_tag('noavatar.png', :width => "100px", :height => "100px")
  div.info-form_profile1
    br
    b Меня зовут: &nbsp;
    = @user.name
    br
    b Обо мне: &nbsp;
    = @user.about
    br
    br
    b Мой возраст: &nbsp;
    = @user.age
    br
    b Мой город: &nbsp;
    | Ханты-Мансийск
    br
    b Я: &nbsp;
    - if @user.sex == 1
      | Мужчина
    - else
      | Девушка
    br
    - if (current_user.role? :administrator)
      = form_for(@user) do |f|
        b Доступ: &nbsp;
        = f.select :role_ids, Role.all.collect{|s| [s.name, s.id]}
        = f.submit "Сохранить"
  div.info-form_profile2
    span.manage_form
      b ЛС
    br
    br
    span.manage_form onClick="javascript:close_form();"
      b Закрыть

