= form_for @commentary, :remote => true do |f|
  /- if @commentary.errors.any?
    #error_explanation
      h2 = "#{pluralize(@commentary.errors.count, "error")} prohibited this commentary from being saved:"
      ul
        - @commentary.errors.full_messages.each do |message|
          li = message

  /.field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.text_area :description, placeholder: "Ваш отзыв.."
  .field
    = f.hidden_field :map_id

  div style="text-align:center;"
    = f.submit 'Отправить', id: "add_comment_submit"
