h1 Listing commentaries

/- @comment.each do |c|
  = c.user_id
  br
  = c.description
  br
  = c.map_id
  br
  br


table
  tr
    th User
    th Description
    th Map
    th
    th
    th

  - @commentaries.each do |commentary|
    tr
      td = commentary.user_id
      td = commentary.description
      td = commentary.map_id
      td = link_to 'Show', commentary
      td = link_to 'Edit', edit_commentary_path(commentary)
      td = link_to 'Destroy', commentary, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Commentary', new_commentary_path
