p#notice = notice

p
  strong User:
  = @commentary.user_id
p
  strong Description:
  = @commentary.description
p
  strong Map:
  = @commentary.map_id

= link_to 'Edit', edit_commentary_path(@commentary)
'|
= link_to 'Back', commentaries_path
