= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      h2 = "#{pluralize(@role.errors.count, "error")} prohibited this category from being saved:"
      ul
        - @role.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .actions = f.submit 'Save'
