.fader {
    opacity:0;
    display:none;
}

/* --------------- GENERAL --------------- */
body:before {
    content: "";
    left: 0;
    height: 10px;
    position: fixed;
    top: -10px;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.wrapper {
    margin: 0 auto;
    min-height: 100%;
    width: 1000px;
}
.accordeon {
    margin: 50px auto;
    width: 500px;
}
.accordeon-caption {
    background: #e87817;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    padding: 5px 20px;
    position: relative;
    border-radius: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.accordeon-caption:before {
    content: '▼';
    position: absolute;
    right: 5px;
}
.accordeon-caption span {
    border-bottom: 1px dotted #000;
}

/* --------------- /GENERAL --------------- */