.top { /* Верхняя часть с заголовком страницы */
    position: absolute;
    min-width: 640px; /* Ширина первого слоя */
    background-color: #695f57; /* Цвет фона */
    background-image: url('/assets/top_op.png');
    background-size:contain;
    width: 100%; /* Ширина слоя */
    height: 130px; /* Высота слоя в процентах */
}
.chkDiv input[type=checkbox] {
    -margin-left:0px;
    -padding:0px;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    cursor:pointer;
}
.checkOn {
    background: url(/assets/chekboxon.png) no-repeat 0 3px;
}
.checkOff {
    background: url(/assets/chekboxoff.png) no-repeat 0 3px;
}
.a-btn{
    border: 1px solid #f4d4d4;
    padding: 0px 80px 0px 10px;
    height: 38px;
    width:60px;
    display: inline-block;
    position: absolute;
    top:18%;
    left:5%;
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.2s linear;
}
.a-btn-text{
    padding-top: 5px;
    display: block;
    font-size: 16px;
    white-space: nowrap;
    color: #f4d4d4;
    left:10px;
    cursor:pointer;
}
.a-btn-slide-text{
    position:absolute;
    top: 40px;
    left: 10px;
}
.a-btn-icon-right{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 52px;
    border-left: 1px solid #f4d4d4;
}
.a-btn-icon-right span{
    width: 38px;
    height: 38px;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    background: transparent url(/assets/arrow_right.png) no-repeat 50% 55%;
    transition: all 0.2s linear;
    cursor:pointer;
}
.a-btn:hover{
    height: 65px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity: 1;
    transform: rotate(-45deg);
}
.a-btn:active {
    position: absolute;
    top:18%;
    left:5%;
    border-color:  #c89133;
}
.a-btn-slide-text img{
    width: 16%;
}
.a-btn-slide-text img:hover{
    width: 20%;
    cursor:pointer;
}
.layer4 {
    position: absolute;	/* Абсолютное позиционирование */
    width: 30%; /* Ширина слоя */
    height: 75%; /* Высота слоя в процентах */
    left: 45%; /* Положение слоя от левого края */
    top: 15%; /* Положение слоя от верхнего края */
}
.layer5 {
    position: absolute;	/* Абсолютное позиционирование */
    width: 20%; /* Ширина слоя */
    height: 75%; /* Высота слоя в процентах */
    left: 75%; /* Положение слоя от левого края */
    top: 15%; /* Положение слоя от верхнего края */
}
#sign_out {
    position: absolute;	/* Абсолютное позиционирование */
    width: 5%; /* Ширина слоя */
    height: 15%; /* Высота слоя в процентах */
    left: 90%; /* Положение слоя от левого края */
    top: 10%; /* Положение слоя от верхнего края */
}

#sign_out_text {
  color: #f4f2b8;
}

#sign_out_text:hover {
  font-weight:bold;
}

.lab {
    font-family:Calisto MT, sans-serif;
    font-size:100%;
    color:#f4d4d4;
    _font-weight:bold;
    cursor:pointer;
}

/*меню "Вход"*/
#signin_menu {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:350px;
    height:280px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 90%;
    right: 40%;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
}

#signin_menu_align {
  text-align: center;
}

#signin_menu input[type=text], #signin_menu input[type=email], #reg_menu input[type=email], #signin_menu input[type=password], #reg_menu input[type=text], #reg_menu input[type=password] {
    font-family:Calisto MT, sans-serif;
    display:block;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    font-size:13px;
    margin:20px 20px 5px;
    padding:5px;
    width:300px;
    opacity:100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
#signin_menu input:hover,#reg_menu input:hover {
    border: 1px solid #a68686;
}
#signin_submit {
    background:#a68686;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    width:70px;
    height:30px;
}
#signin_submit:hover, #signin_submit:focus {
    cursor:pointer;
    font-size:13px;
}
/*меню "Регистрация"*/
#reg_menu {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:350px;
    height: 260px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 90%;
    right: 40%;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
}
.reg:hover{
    cursor:pointer;
}
#reg_submit{
    background:#a68686;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    width:170px;
    height:30px;
}
#reg_submit:hover, #reg_submit:focus {
    cursor:pointer;
    font-size:13px;
}
.reg-btn{
    _border: 1px solid #f4d4d4;
    height: 40px;
    width:200px;
    _position: absolute;
    _top:25%;
    _left:45%;
    _border-radius: 4px;
    font-weight:bold;
    font-size:13px;
    _opacity:50;
    _filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.reg-btn:hover {
  -border: 1px solid #b89595;
  font-size:14px;
}

/*меню "Добавить комментарий"*/
#add_comment {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:330px;
    height: 160px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 90%;
    right: 40%;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
}
#add_comment textarea {
    font-family:Calisto MT, sans-serif;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    font-size:13px;
    margin:3%;
    padding:5px;
    width:300px;
    height: 80px;
    opacity:100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

#add_comment_submit {
    text-align: center;
    background:#a68686;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    width:170px;
    height:30px;
}
#add_comment_submit:hover, #add_comment_submit:focus {
    cursor:pointer;
    font-size:13px;
}


/*меню "Комментарии"*/
#scroll_comment {
  overflow-y:scroll;
  _width:350px;
  height: 100%;
  _max-height: 700px;
}
#form_comment {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:350px;
    height: 77%;
    max-height: 700px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 182px;
    right: 0%;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
}

.author_comment {
  min-height:40px;
  margin: 0px 0px 0px 70px;
}



.ava-area_comment{
    float: left;
    border: 2px solid #a68686;
    height: 60px;
    width:60px;
    border-radius: 2px;
}

/*меню "Как доехать"*/
#form_howtoreach {
    text-align: justify;
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:250px;
    min-height:100px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 35%;
    right: 30%;
    opacity:0.95;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
}


/*меню "Подробнее"*/
#form_more {
    text-align: justify;
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:250px;
    min-height:100px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 35%;
    right: 30%;
    opacity:0.95;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
}



.mid {
    position: absolute;
    min-width: 640px; /* Ширина первого слоя */
    top: 130px;
    width: 100%; /* Ширина первого слоя */
    height: 50px; /* Высота слоя в процентах */
    background: #d7d0d0; /* Цвет фона */
    background-image: url('/assets/top_op.png');
    background-position:bottom;
}
.search_btn {
    border: 0;
    padding: 0;
    margin: 0;
    cursor:pointer;
    height:25px;
    width:20px;
    position:absolute;
    right:0px;
    top:0px;
    background: url(/assets/search-icon.png) no-repeat center 0px;
}
.search-query {
    border: 1px solid #f4d4d4;
    border-radius:4px;
    width:100%;
    height:23px;
    _height:100%;
    background:#d7d0d0;
    opacity:50;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.search-btn{
    height: 26px;
    position:absolute;
    top:25%;
    left:75%;
    width:20%;
}
.search-btn-icon-right span{
    width: 38px;
    height: 38px;
    opacity: 0.7;
    position: absolute;
    left: 95%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    background: transparent url(/assets/search-icon.png) no-repeat 50% 55%;
    transition: all 0.2s linear;
    cursor:pointer;
}
.search-btn:hover .search_tst{
    border: 1px solid #a68686;
}
.search-btn:hover .search-btn-icon-right span{
    opacity: 1;
    transform: rotate(-90deg);
}
/*Батон "задать область"*/
.area-btn{
    border: 1px solid #f4d4d4;
    height: 25px;
    width:150px;
    position: absolute;
    top:25%;
    left:45%;
    border-radius: 4px;
    transition: all 0.2s linear;
    opacity:50;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.area-btn-text{
    padding-top: 5px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    width:100%;
    color: #717070;
    left:10px;
    cursor:pointer;
    font-family:Calisto MT, sans-serif;
    -background:#ffffff;
    text-align: center;
}
.area-btn-slide-text{
    position:absolute;
    top: 40px;
    left: 10px;
}
.area-btn:hover{
    border: 1px solid #a68686;
}
.checkall:hover, .uncheckall:hover{
    font-weight:bold;
}

/* аватар */
.ava-area{
    border: 2px solid #f4d4d4;
    height: 100px;
    width:100px;
    position: absolute;
    top:8%;
    left:2%;
    border-radius: 2px;
}

/*меню "Добавить точку"*/
#add_point {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:290px;
    height: 390px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 90%;
    right: 40%;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
    text-align: center;
}

.menu {
    position: absolute;	/* Абсолютное позиционирование */
    width: 15%; /* Ширина слоя */
    height: 75%; /* Высота слоя в процентах */
    left: 150px; /* Положение слоя от левого края */
    top: 15%; /* Положение слоя от верхнего края */
}
.name-btn{
    font-family:Calisto MT, sans-serif;
    font-size:120%;
    color:#f4d4d4;
    font-weight:bold;
    _cursor:pointer;
}
.user-btn{
    font-family:Calisto MT, sans-serif;
    font-size:90%;
    color: #f4f2b8;
    _font-weight:bold;
    cursor:pointer;
}
.user-btn:hover{
    _border: 1px solid #a68686;
}
.user-btn:hover {
    _font-size:95%;
    font-weight:bold;
}

/*Батон "задать радиус"*/
.rad-btn{
    position: absolute;
    top:25%;
    left:15%;
    border: 1px solid #f4d4d4;
    height: 25px;
    width:150px;
    border-radius: 4px;
    transition: all 0.2s linear;
    opacity:50;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.rad-btn-text{
    padding-top: 5px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    _color: #979696;
    color: #717070;
    left:10px;
    cursor:pointer;
    font-family:Calisto MT, sans-serif;
    text-align:center;
}
.rad-btn-slide-text{
    position:absolute;
    top: 40px;
    left: 10px;
}
.rad-btn-icon-right{
    position: absolute;
    right: 0px;
    top: 1px;
    height: 100%;
    width: 35px;
    border-left: 1px solid #f4d4d4;
}
.rad-btn-icon-right span{
    width: 38px;
    height: 38px;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    background: transparent url(/assets/radius.png) no-repeat 50% 55%;
    transition: all 0.2s linear;
    cursor:pointer;
}
.rad-btn:hover .rad-btn-icon-right span{
    opacity: 1;
    transform: rotate(-30deg);
}
.rad-btn:hover{
    border: 1px solid #a68686;
}
.rad-btn:hover .rad-btn-text{
    font-weight:bold;
}

.cont {
    min-width: 640px; /* Ширина первого слоя */
    height:80%;
    position: absolute;
    -top:19%;
    top: 180px;
    width: 100%; /* Ширина первого слоя */
    -margin: 0;
}
.layer1 {
    z-index:2;
    position: absolute;
    width: 40%; /* Ширина первого слоя */
    height:100%;
    background: #f2e1d0; /* Цвет фона */
    overflow-y:scroll;
    border-style: solid; /* Стиль рамки вокруг параграфа */
    border-color:#a68686;
    border-width: 3px 0px 3px 3px; /* Толщина границы */
    min-width: 250px; /* Ширина первого слоя */
}
.hello {
    position: absolute;
    top: 7%;
    width:90%;
    margin: 0 0 0 5%;
    font-weight:bold;
    text-align: center;
}
.gal {
    position: absolute;
    margin: 0 5% 0% 5%;
    top:120px;
}
div.gal img {
    float:left;
    margin:2%;
    border:1px solid #000000;
    _width:125px;
    _height:125px;
}

div.gal a:hover img {
    -margin:26px;
    border:1px solid #ffffbe
}
.layer2 {
    border-style: solid; /* Стиль рамки вокруг параграфа */
    border-color:#a68686;
    border-width: 3px 0px 3px 3px; /* Толщина границы */
    margin:0;
    position: absolute;
    height:100%;
    width: 90.4%;
    left:9%;
}
.layer3 {
    z-index:1;
    visibility:hidden;
    position: absolute;
    bottom:0.01%;
    width:99.9%;
    background: #f0f1aa; /* Цвет фона */
    font-size: 10px; /* Размер шрифта */
    text-align: center;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.scroll-wrap{
    width:266px
}
.scroll-pane{
    width:243px;
    height:195px;
    padding:0 0 0 13px;
    overflow:auto
}

/*Батоны в баллуне*/
.balloon-btn{
    border: 1px solid #f4d4d4;
    height: 20px;
    width:130px;
    border-radius: 4px;
    transition: all 0.2s linear;
    opacity:50;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.balloon-btn-text{
    padding-top: 2px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    width:100%;
    color: #979696;
    left:10px;
    cursor:pointer;
    font-family:Calisto MT, sans-serif;
    text-align: center;
}
.balloon-btn:hover .balloon-btn-text{
    font-weight:bold;
}

/*меню "Редактировать профиль"*/
#prof_menu {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:350px;
    height:470px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 90%;
    right: 40%;
    opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
    _text-align: center;
}
#prof_submit{
    background:#a68686;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    width:250px;
    height:30px;
}
#prof_submit:hover, #prof_submit:focus {
    cursor:pointer;
    font-size:14px;
}
#prof_menu input[type=text] {
    font-family:Calisto MT, sans-serif;
    _display:block;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    font-size:13px;
    margin:3%;
    padding:5px;
    width:320px;
    opacity:100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

#prof_menu textarea {
  font-family:Calisto MT, sans-serif;
  border: 1px solid #f4d4d4;
  border-radius:4px;
  font-size:13px;
  margin:3%;
  padding:5px;
  width:320px;
  opacity:100;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}


#prof_menu textarea:hover {
    border: 1px solid #a68686;
}

#file_ava {
  margin:10% 0% 0% 0%;
}

#img_ava {
  width:100px;
  height:100px;
  float:left;
  margin:3%;
  border: 2px solid #a68686;
  border-radius:2px;
}

.prof_center {
    text-align: center;
}

input[type=text]#user_age {
    border: 1px solid #f4d4d4;
    border-radius:4px;
    font-size:13px;
    width:30px;
    opacity:100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
dt {
    float: left; /* Для размещения на одной строке */
    width: 100px; /* Ширина для текста */
    _text-align: right; /* Выравнивание по правому краю */
    padding-top: 3px;
    margin: 3% 0% 0% 3%;
    _min-height: 1px; /* Минимальная высота */
}
dd {
    position: relative; /* Относительное позиционирование */
    _top: -1px; /* Смещаем поля вверх */
    _margin-bottom: 10px; /* Расстояние между строк */
}




#add_point input[type=text] {
    font-family:Calisto MT, sans-serif;
    display:block;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    font-size:13px;
    margin:20px 20px 5px;
    padding:5px;
    width:300px;
    opacity:100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
#add_point input:hover {
    border: 1px solid #a68686;
}
.add_point_submit {
    background:#a68686;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    color:#ffffff;
    font-size:12px;
    font-weight:bold;
    width:150px;
    height:30px;
}
.add_point_submit:hover, .add_point_submit:focus {
    cursor:pointer;
    font-size:13px;
}

#add_point textarea {
    font-family:Calisto MT, sans-serif;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    font-size:13px;
    margin:3%;
    padding:5px;
    width:300px;
    opacity:100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

#add_point textarea:hover {
    border: 1px solid #a68686;
}

#prof_menu input[type=text]:hover {
    border: 1px solid #a68686;
}
.loadBtn-noDisplay {
    z-index:1;
    cursor:pointer;
    display:block;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    margin-left:-30px;
    margin-top:1px;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.loadBtn{
    position:absolute;
    z-index:2;
    height: 25px;
    width:190px;
    cursor:pointer;
    border: 1px solid #f4d4d4;
    border-radius:4px;
    top:125px;
    left:132px;
    cursor:pointer;
}
.loadBtn-text{
    position:absolute;
    z-index:-1;
    width:190px;
    top:4px;
    color: #979696;
    font-family:Calisto MT, sans-serif;
    text-align:center;
    font-size: 14px;
    cursor:pointer;
}
.loadBtn:hover{
    border: 1px solid #a68686;
}
.loadBtn:hover .loadBtn-text{
    font-weight:bold;
}
.imgAvatar{
    position:absolute;
    top:40px;
    left:25px;
    border:1px solid #a68686;
}
.saveBtn {
    width:250px;
    height:25px;
    position:absolute;
    left:50px;
    top:360px;
}

.admin_title {
    border: 1px solid #a68686;
    border-radius:4px;
    position: absolute;
    top: 1%;
    left: 5%;
}
.admin_form {
    border: 1px solid #a68686;
    border-radius:4px;
    position: absolute;
    top: 10%;
    left: 2%;
}

/*Просмотр профиля пользователя*/
#form_profile {
    z-index:3;
    display:none;
    background:#f2e1d0;
    position:absolute;
    width:400px;
    height:200px;
    border:1px solid #a68686;
    border-radius:4px;
    top: 30%;
    right: 90%;
}
.info-form_profile1 {
    min-height:40px;
    margin: 0px 0px 0px 120px;
    font-size: 14px;
}
.info-form_profile2 {
    min-height:40px;
    margin: 0px 0px 0px 10px;
    font-size: 14px;
}
.ava-form_profile{
    float: left;
    border: 3px solid #a68686;
    height: 100px;
    width:100px;
    border-radius: 2px;
}

.manage_form:hover {
  cursor: pointer;
  font-size:15px;
}
.hov{
  cursor: pointer;
}

/*тестовый класс*/
.map_overlay {
      background-color: #000000; /* Чёрный фон */
      height: 100%; /* Высота максимальна */
      width: 100%; /* Ширина максимальна */
      opacity:0.05;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.05);
      -position: fixed; /* Фиксированное положение */
      -top: 0; /* Нулевой отступ сверху */
      z-index: 10; /* Заведомо быть НАД другими элементами */
  }

