table
  tr
    th ID
    th Title
    th
    th
    th

  - @categories.each do |category|
    tr
      td = category.id
      td = category.title
      - if can? :update, category
        td = link_to 'Edit', edit_category_path(category)
      - if can? :destroy, category
        td = link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete
= link_to 'New Category', new_category_path