table
  tr
    th Дата
    th Название
    th Пользователь
    th
    th

  - @maps_mod.each do |map|
    tr
      td = map.created_at
      td
        b = link_to map.title, map_path(map)
      td = map.user.name
      td
        = link_to 'Одобрить', moderation_map_category_path(map), :remote => :true, :method => :put, :class => "maps"
      td
        - if can? :destroy, map
          = link_to 'Удалить', map, :confirm => 'Are you sure?', :method => :delete, :remote => :true

br

table
  tr
    th Дата
    th Метка
    th Пользователь
    th Комментарий
    th
    th

  - @comment_mod.each do |comment|
    tr
      td = comment.created_at
      td
        = Map.where('id = ?', comment.map_id).pluck(:title)
      td = comment.user.name
      td
        b = comment.description
      td
        = link_to 'Одобрить', moderation_comment_category_path(comment), :remote => :true, :method => :put, :class => "comment"
      td
        - if can? :destroy, comment
          = link_to 'Удалить', comment, :confirm => 'Are you sure?', :method => :delete, :remote => :true

br