table
  tr
    th ID
    th Title
    th Category
    th User_id
    th Image
    th
    th
    th

  - @maps.each do |map|
    tr
      td = map.id
      td = map.title
      td = map.category_id
      td = map.user_id
      td
        = image_tag(map.image)
      td = link_to 'Show', map
      - if can? :update, map
        td = link_to 'Edit', edit_map_path(map)
      - if can? :destroy, map
        td = link_to 'Destroy', map, :confirm => 'Are you sure?', :method => :delete

br