table
  tr
    th ID
    th Name
    th
    th

  - @roles.each do |role|
    tr
      td = role.id
      td = role.name
      - if can? :update, role
        td = link_to 'Edit', edit_role_path(role)
      - if can? :destroy, role
        td = link_to 'Destroy', role, :confirm => "Are you sure?", :method => :delete
= link_to 'New Role', new_role_path
br