table
  tr
    th ID
    th Name
    th Email
    th Access
    th
    th

  - @users.each do |user|
    tr
      td = user.id
      td = user.name
      td = user.email
      td = user.role_ids
      - if can? :update, user
        td = link_to 'Edit', edit_user_path(user)
      - if can? :destroy, user
        td = link_to 'Destroy', user, :confirm => "Are you sure?", :method => :delete
br