div.admin_title
  = link_to 'На главную', root_path
  br
  br
  a href="#" class="fadeNext"
    | События
    br
  div class="fader"
    = render ('events')
  br
  a href="#" class="fadeNext"
    | Пользователи
    br
  div class="fader"
    = render ('users')
  br
  a href="#" class="fadeNext"
    | Роли
    br
  div class="fader"
    = render ('roles')
  br
  a href="#" class="fadeNext"
    | Категории
    br
  div class="fader"
    = render ('categories')
  br
  a href="#" class="fadeNext"
    | Метки
    br
  div class="fader"
    = render ('maps')






